
<!DOCTYPE HTML>
<html>
<head>
<title>泰兴_网站建设_网站推广_微信公众号_微信小程序__微信生态_泰兴市新新网络科技有限公司</title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

      <!-- 包括所有已编译的插件 -->
 <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
 <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <script type="text/javascript" async="" src="https://material-ssl.mediav.com/bjjs/mba.js"></script>
<meta name="description" content=">泰兴_网站建设_网站推广_微信公众号_微信小程序__微信生态_泰兴市新新网络科技有限公司" />
<meta name="keywords" content=">泰兴_网站建设_网站推广_微信公众号_微信小程序__微信生态_泰兴市新新网络科技有限公司" />
<!-- <link href="https://www.yeyang0512.cn/favicon.ico" rel="shortcut icon" type="image/x-icon" />
 -->
<link rel='stylesheet' type='text/css' href="__PUBLIC__/Home/css/yeyang0512.css">
<link rel='stylesheet' type='text/css' href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
.invisible{visibility:visible;}
.navbar-default .navbar-toggle {border:none;}
</style>

</head>