<layout name="Index/index" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/webuploader/0.1.5/webuploader.css" />
<script type="text/javascript" src="__PUBLIC__/Admin/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/ajaxfileupload.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.datetimepicker.js"></script>
<div id="dcMain"> <!-- 当前位置 -->
<div class="mainBox imgModule">
  <h3>修改密码</h3>
  <form id="form" action="__CONTROLLER__/alterPasswordHandle"  method="post" enctype="multipart/form-data">
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <tr>
            <td class="label" align="right">新密码：</td>
            <td>
                <input type="password" name="password" size="80" class="inpMain" required="required" />
            </td>
        </tr>
      <td width="131"></td>
      <td>
       <input name="submit" class="btn sub" type="submit" value="提交" />
      </td>
     </tr>
    </table>
  </form>
</div>
 <div class="clear"></div>
 <div id="footer">
  <div class="line"></div>
</div>
<div class="clear"></div> 
</div>
<script>
$('.nav ul li').each(function() {
  $('.nav ul li').css("background","#0072C6");
  $('.nav ul li a').css("color","#D9D9D9");
});
$('#kzmb').css("background","#60BBFF");
$('#kzmb a').css("color","#FFFFFF");

</script>

<script>

$(function(){
   $('#form').ajaxForm({
        beforeSubmit:  checkForm,// pre-submit callback
        success:       complete,// post-submit callback
        dataType: 'json'
   });
   
    function checkForm(){  
    }
    
    function complete(d){
        if (!d.error){
          alert("修改成功");
          window.location.reload();
        }else{
          alert(d.error);
        }
    }

});
</script>
</body>
</html>